{{ define "content" }}
	<h1>Welcome home!</h1>
	<hr />
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a nisi et dui pretium tempor quis nec turpis. Cras sed faucibus purus. Aliquam in elit ex. Quisque sit amet eros sed arcu facilisis lacinia. Morbi pharetra urna et arcu dapibus, quis dictum quam mattis. Integer non nibh sed neque finibus feugiat sed vitae dui. Ut molestie sodales odio vitae hendrerit. Etiam ultricies magna justo, auctor facilisis lacus convallis sit amet. In iaculis auctor elit, id congue turpis pharetra euismod. In hac habitasse platea dictumst. Nullam tortor quam, dignissim eu pulvinar a, ultricies vitae nulla.</p>
{{ end }}
